* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 150px 0;
  font-family: "Poppins", sans-serif;
  background-image: url("./PurpleCherry_Williams_0012.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 70px;
  background-color: rgba(0, 0, 0, 0.59);
  background-blend-mode: darken;
  .container {
    max-width: 1200px;
    margin: 0 auto;

    .contact {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;
      h1 {
        font-size: 50px;
        font-weight: 600;
        color: white;
      }
      p {
        color: rgba(255, 255, 255, 0.59);
      }

      img {
        height: auto;
        border-radius: 100px;
      }
      .page{
        display: flex;
        color: white;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        background-color: orange;
        width: max-content;
        border-radius: 50px;
        outline: 5px solid rgba(128, 128, 128, 0.453);
        font-size: 14px;
        a{
          color: rgba(255, 255, 255, 0.692);
        }
        a:hover{
          color: white;
        }
      }
    }
  }
}
